.app.light {
  --bg-color: #8c72a4;
  --inverted-bg-color: #ad84c2;

  --primary-color: #f392ff;
  --secondary-color: #8630b2;

  --inverted-primary-color: #04968a;
  --inverted-secondary-color: #37eee7;
}
